<head>
    <link rel="author" href="../txt/humans.txt" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    {% if page.summary %}
    <meta name="description" content="{{ page.summary | escape }}">
    {% endif %}
    {%if page.tags %}
    <meta name="keywords" content="{{ page.tags | join: ', ' | escape }}"/>
    {%endif %}


    <meta name="author" content="Alle Nilsson" />

    <meta property="og:title"
          content="{% if page.title %} {{ page.title | strip_html | strip_newlines | truncate: 160 }}
    {% else %}
      {{ site.title }}
    {% endif %}">

    <meta property="og:description" content="{% if page.excerpt %} {{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}
      {% else %}
        {{ site.description }}
      {% endif %}">

    <meta property="og:type"   content="article" />
    <meta property="og:url" content="https://a113333.github.io/A11333.github.io/" />

    <meta property="og:site_name" content="{{ site.title }}" />

    <meta property="og:locale" content="sv" />

    {% if page.image %}
    <meta property="og:image" content="{{page.image}}" />
    <meta name="twitter:image" content="{{page.image}}" />
    {% else %}
    <meta property="og:image" content=<img src="../img/ALLESBLOGG.png"/>
    <meta property="og:image:width" content="733" />
    <meta property="og:image:height" content="506" />
    <meta name="twitter:image" content=<img src="../img/ALLESBLOGG.png" height="506" width="733"/>
    {% endif %}




</head>
